.DS_Store
.idea
.tmp/
.sass-cache
*.iml
/generated
/reports
/coverage
/app/styles/*.css
/app/styles/*.css.map
/app/bower_components/*
/node_modules
!/app/bower_components/polybrush
npm-debug.log
app/images/icons/svg/sprite/sprite.svg
credentials.js
test/e2e/reports
test/e2e/screenshots
app/styleguide/styles/*.css
app/styleguide/styles/*.css.map
